body {
    background-color: black;
}

div {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
}

img {
    border: 5px solid white;
    width: 100%;
}

h1, p{
    text-align: center;
    color: white;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    
}

h1 {
    text-transform: uppercase;
    font-size: 3rem;
}

p {
    font-size: 1em;
}



